@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body {
    position: relative;
   
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100vw;
    height: 100px;
    background-color: rgb(34, 33, 33);    
}

.logo {
    font-size: 3rem;
    color: rgb(13, 233, 13);
}

.nav_link {
    display: flex;
    list-style: none;
    font-size: 2rem;
}
.nav_link a {
    color: rgb(13, 223, 223);
    text-decoration: none;
    cursor: pointer;
}

.nav_link a:hover {
    text-shadow: 0px 0px 20px rgb(152, 243, 7);
}

.nav_link li {
    margin: 0 1rem;
}

main {
    flex-grow: 1;   
}
.container_main {
   padding: 1rem;
}

footer {
    display: flex;
    position: relative;
    width: 100vw;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 33, 33);  
    color: antiquewhite;
    margin-top: 4rem;
}


.create__form {
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    width: 300px;
    justify-content: center;
}

.create__form input {
    margin: .5rem 0;
    height: 2rem;
} 

.container_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw; 
    /* height: 100%;    */
    margin: 0 auto;
    /* text-overflow: ellipsis; */
    overflow-wrap: break-word;    
}

.book_card {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    /* height: 100%; */
    border: 1px solid black;
    margin: .5rem;
    /* padding: .5rem; */
}

/* .descr {
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.book_img {
    display: block;
    width: 100%;
    height: 70%;    
}


.edit {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin: 1rem 0.5rem;
}

.btn_create{
    text-decoration: dotted;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.search {
    position: relative;
    height: 30px;
}
.search input {    
    height: 30px;
}


.search_btn {
    position: absolute;
    height: 31px;
    top: 3px;
    right: -1px;
    border-top-left-radius : 0 ;
    border-bottom-left-radius : 0 ;
}
